<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <application
        android:name=".activity.Movie.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicketManagement"
        tools:targetApi="31">
        <activity
            android:name=".activity.Auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Auth.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Other.OtherActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Auth.RegisterActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".activity.User.UpdateUserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MenuActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.Category.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Category.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Movie.AddMovieActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Movie.MovieListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Room.RoomAdditionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Room.RoomListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Room.UpdateRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShowTime.ShowTimeListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShowTime.AddShowTimeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShowTime.ShowtimeUserListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SeatSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectionShowtimesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TransactionHistoryActivity"
            android:exported="false" />
    </application>

</manifest>